<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!--<add name="conT" connectionString="Server=(localdb)\MSSQLLocalDB;database=tamaz_live;" providerName="System.Data.SqlClient"/>-->
		<add name="conT" connectionString="Server=148.113.43.37;uid=12userdevai;pwd=8Qi)7Ax)4Cq+;database=12devaiDBs;" providerName="System.Data.SqlClient"/>
		<!--<add name="conT" connectionString="Server=103.230.85.180;uid=nX_WebTamazSpeed;pwd=*7VHL4bfp^nahcq9;database=admin_WebTamazSpeedDb;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" />
		<compilation debug="true" targetFramework="4.8" tempDirectory="C:\AspNetTemp"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
		<authentication mode="None" />
		<authorization>
			<allow users="*" />
		</authorization>
	</system.web>
	<system.webServer>
		
		<httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<error statusCode="404" path="/404" responseMode="Redirect" />
		</httpErrors>
		<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
		<!--<staticContent>
			<mimeMap mimeType="image/webp" fileExtension=".webp"/>
		</staticContent>-->
	</system.webServer>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="from" value="contactalertserver@gmail.com"/>
		<add key="fromName" value="Tamaz Global"/>
		<add key="host" value="smtp.gmail.com"/>
		<add key="port" value="587"/>
		<add key="domain" value="https://www.blueprint-rx.net/"/>
		<add key="userName" value="contactalertserver@gmail.com"/>
		<add key="password" value="cewhywqoftofhgjx"/>
		<add key="enableSsl" value="true"/>
		<add key="ToMail" value="nwiuser10@outlook.com"/>
		<add key="CCMail" value=""/>
		<add key="BCCMail" value=""/>
	</appSettings>
</configuration>