<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="conT" connectionString="Server=(localdb)\MSSQLLocalDB;database=thamaz;" providerName="System.Data.SqlClient"/>
    <!--<add name="conT" connectionString="Server=103.230.85.180;uid=nX_WebTamazSpeed;pwd=*7VHL4bfp^nahcq9;database=admin_WebTamazSpeedDb;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>